
.main-container {
  margin: 20px;
  background-color: #fff;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4rem;
  grid-auto-rows: minmax(100px, auto);
}

.posts-title {
  font-weight: 500;
  font-size: 22px;
  margin: 10px 20px;
}